.single-category{
    background: white;
    margin-top: 40px;
    .container{
        .cat-content{
            .section-title{
                width: 160px;
                border-bottom: 3px solid brown;
                margin-bottom: 30px;
                h3{
                  letter-spacing: 1px;
                  color:rgba(205, 189, 16, 0.952);
                  font-weight: 700;
                }
            }
            .product-items{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                row-gap: 20px;
                .product-item{
                    .product-item-img{
                        height: 280px;
                        width: 260px;
                        // border: 1px solid brown;
                        
                        img{
                            height: 61%;
                            width: 100%;
                            cursor: pointer;
                        }
                        .product-item-cat{
                            position: relative;
                            span{
                                position: absolute;
                                margin-top: -171px;
                                padding: 3px 10px;
                                background-color: gold;
                                border-radius: 7px;
                                color: white;
                                text-transform: lowercase;
                                letter-spacing: 1px;
                                font-size: 14px;
                                box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
                            }
                        }
                    }
                    .product-item-body{
                        margin-top: -30%;
                        .product-item-title{
                            display: flex;
                            align-items: center;
                            padding: 2px 7px;
                            h6{
                                width: 200px;
                                letter-spacing: 1px;
                                font-size: 14px;
                                color: rgb(88, 88, 88);
                            }
                            .product-price{
                                color: brown;
                                margin-top: -6px;
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }
    }
}